*/
.CFUserTextEncoding
.DS_Store
.bash_history
.dbshell
.gitconfig
.lesshst
.mongorc.js
.node_repl_history
.python_history
.qshell*
.rediscli_history
.viminfo
.wget-hsts
.zcompdump-jimyagMac-5.8.1
.zprofile
.zsh_history
.zshrc
