{{- if eq .chezmoi.os "darwin" -}}
# iterm2
if [[ "${TERM_PROGRAM:-}" == "iTerm.app" ]]; then
    test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
fi


export PATH="/opt/homebrew/opt/mongodb-community@4.4/bin:$PATH"
export PATH="/opt/homebrew/opt/gnu-getopt/bin:$PATH"
export PATH="/opt/homebrew/opt/postgresql@17/bin:$PATH"
export PATH="/opt/homebrew/opt/gnu-sed/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"

alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

export PATH="$HOME/Library/Python/3.9/bin:$PATH"
export PATH="$HOME/opt/gradle/bin:$PATH"
export PATH="$HOME/opt/jdk/bin:$PATH"
export JAVA_HOME="$HOME/opt/jdk"

{{ end -}}
